name: C/C++ CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    permissions:
      checks: write
      pull-requests: write

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Checkout submodules
      run: git submodule update --init --recursive
    - name: apt-get update
      run: sudo apt-get update
    - name: Install packages
      run: sudo apt-get install libcmocka-dev liburing-dev cmake ninja-build llvm-20-dev libgtest-dev
    - name: configure
      run: |
        mkdir build
        cmake -B build -G Ninja -DCMAKE_BUILD_TYPE=Debug \
          -DLLVM_DIR="$(llvm-config-20 --cmakedir)" \
          -DCMAKE_PREFIX_PATH="$(llvm-config-20 --prefix)"
    - name: make
      run: cmake --build build
    - name: test
      run: cmake --build build --target test
    - name: test-log
      if: failure()
      run: cat build/Testing/Temporary/LastTest.log
    - name: Publish Unit Test Results
      uses: EnricoMi/publish-unit-test-result-action@v2
      if: always()
      with:
         files: build/test/*.xml
         check_name: Unit Test Results (Linux)